<div class="container">
  <form (ngSubmit)='submitList()' #ngForm='ngForm' class="needs-validation" action="index.html" method="post">
    <div class="form-group">
      <label for="validationCustom01">Activity Title</label>
      <input  class="form-control" required type="text" id="validationCustom01" placeholder="Add name" [(ngModel)]='newList.title' #title="ngModel" name="title" value="">
      <div [hidden]='title.valid || title.pristine' class="alert alert-danger">
        Title cannot be empty!
      </div>
    </div>
    <div class="form-group">
      <label for="">Activity Title</label>
      <textarea required class="form-control" name="descriptions" [(ngModel)]='newList.descriptions' #descriptions='ngModel' rows="8" cols="80">
      </textarea>
      <div [hidden]='descriptions.valid || descriptions.pristine' class="alert alert-danger">
        This field cannot be empty!;
      </div>

    </div>
    <div class="form-group">
      <input class="form-control" required type="date" name="date" value="" [(ngModel)]='newList.date' #date='ngModel' >
      <div [hidden]='date.valid || date.pristine' class="alert alert-danger">
        Date is required
      </div>

    </div>
    <button class="btn btn-success" type="submit" name="button">Add acitivity</button>
  </form>


</div>
